* {
	margin: 0;
	padding: 0;
}

body, p, li, a, h1, h2, h3 { 
	font-family: Arial, Helvetia, sans-serif;
	font-size: 13px;
}

#hd {
	width : 100%;
	height : 87px;
	background-color : #092E67;
	margin-top : 0;
	padding-top : 10px;
	border-bottom : 1px solid #888;
	z-index : 0;
}

#ft {
	position : absolute;
	bottom : 0;
	width : 100%;
	height : 99px;
	background-color : #6493D2;
	border-top : 1px solid #888;
	z-index : 0;
}

#logo, #bd {
	width : 650px;
	margin: 0 auto;
	padding: 25px 50px 0 50px;
}

#logo h1 {
	color : white;
	font-size: 36pt;
	display: inline;
}

#logo img { 
	display:inline;
	vertical-align: bottom;
	margin-left : 50px;
	margin-right : 5px;
}

#logo, #logo h1 { 
	margin-top: 0; 
	padding-top: 0;
}

#bd {
	position: absolute;
	top: 75px;
	bottom: 75px;
	left: 50%;
	margin-left: -325px;
	z-index: 1;
	overflow: auto;
	background-color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;
	box-shadow: 0px 0px 10px #888;
}

a, a:visited, a:hover, a:active {
	color: #6493D2;
}

h2 {
	font-size: 36pt;
	color: #FF5500;
}

h3 {
	font-size: 24pt;
	color: #092E67;
}

#header {
	background-image: url(../img/space-header-bg-blue-1x87.png);
	height: 87px;
}

.wicketExtensionsWizardOuterTable {
	width: 100%;
}

.wicketExtensionsWizardInnerTable,
.wicketExtensionsWizardHeader,
.wicketExtensionsWizardView {
	border: none;
}

.section {
	background-color: #F2F2F2;
	border: 1px solid #E1E1E1;
	padding: 10px;
	margin-bottom: 10px;
}

dl,
.input,
.section {
	float: left;
	display: block;
	width: 100%;
}

.input-text input {
	float: left;
	padding-left: 2px;
	padding-right: 2px;
}

dl dt, 
dl dd,
.input-label,
.input-text,
.input-text .input-feedback {
  	text-align: left;
	float: left;
	height: 21px;
	padding-bottom: 2px;
	padding-top: 2px;
}

dl dt, 
dl dd,
.input .input-label {
	width: 50%;
}

dl dt, .input-label {
	font-weight: 700;
}

.input-text {
	width: 100%;
}

dl dt,
.input .input-label {
  	clear: both;
  	line-height: 21px;
}

.input-feedback {
  	margin-left: 10px;
}

.input-feedback p {
  	color: red;
  	font-size: 13px;
	line-height: 13px;
	padding-top: 2px;
}

.dl-30-70 dt, 
.in-30-70 .input-label {
	width: 30%;
}

.dl-30-70 dd, 
.in-30-70 .input-text {
	width: 70%;
}

/* testing / temporary */
.survey-temp {
	width: 600px;
	margin-left: 6px;
}
